/****** LOGIN FORM MK46 ******/

body {
    background-image: url("/img/bg.jpg");
    background-size: cover;
    overflow-x: hidden;
}

.login-bg::after {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.51);
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}

.login-container {
    padding: 20px 20px 0 20px;
    width: 65% !important;
    background-color: #f7f7f7;
    margin: 0 auto;
    border-radius: 3px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.71);
    overflow: hidden;
    font-family: monospace;
}

.login-container h1 {
    text-align: center;
    font-size: 22px;
    font-family: monospace;
}

.login-container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    font-family: monospace;
    position: relative;
}

.login-container input[type=text],
input[type=password] {
    height: 40px;
    font-size: 12px;
    font-family: monospace;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.login-container input[type=text]:hover,
input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.login {
    text-align: center;
    font-size: 12px;
    font-family: monospace;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
}

.login-submit {
    font-family: monospace;
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background-color: #4d90fe;
    padding: 7px 0px;
    font-family: monospace;
    font-size: 14px;
}

.login-submit:hover {
    border: 0px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background-color: #357ae8;
}

.login-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.login-help {
    font-size: 12px;
    font-family: monospace;
}