<!--<div id="preloader"></div>-->
<!--==========================
  About Section
============================-->
<app-about></app-about>
<!--==========================
  Services Section
============================-->
<app-our-services></app-our-services>
<!--==========================
  Subscrbe Section
============================-->
<section id="subscribe">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-8">
                <h3 class="subscribe-title">Subscribe For Updates</h3>
                <p class="subscribe-text">Join our 1000+ subscribers and get access to the latest tools, freebies, product announcements and much more!</p>
                <label for="mail">Email:</label>
                <input type="text" id='mail'>
                <button>Send</button>
            </div>
            <div class="col-md-4 subscribe-btn-container">
                <a class="subscribe-btn" href="#">Subscribe Now</a>
            </div>
        </div>
    </div>
</section>
<!--==========================
  Porfolio Section
============================-->
<app-portfolio></app-portfolio>
<!--==========================
  Testimonials Section
============================-->
<app-testimonials></app-testimonials>
<!--==========================
  Team Section
============================-->
<app-team></app-team>
<!--==========================
  Contact Section
============================-->
<app-contact-us></app-contact-us>

