<!--==========================
  Team Section
============================-->
<section id="team">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Our Team</h3>
        <div class="section-title-divider"></div>
        <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="member">
          <div class="pic"><img src="project/assets/img/team-1.jpg/" alt=""></div>
          <h4>Walter White</h4>
          <span>Chief Executive Officer</span>
          <div class="social">
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-google-plus"></i></a>
            <a href=""><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="member">
          <div class="pic"><img src="project/assets/img/team-2.jpg/" alt=""></div>
          <h4>Sarah Jhinson</h4>
          <span>Product Manager</span>
          <div class="social">
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-google-plus"></i></a>
            <a href=""><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="member">
          <div class="pic"><img src="project/assets/img/team-3.jpg/" alt=""></div>
          <h4>William Anderson</h4>
          <span>CTO</span>
          <div class="social">
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-google-plus"></i></a>
            <a href=""><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="member">
          <div class="pic"><img src="project/assets/img/team-4.jpg/" alt=""></div>
          <h4>Amanda Jepson</h4>
          <span>Accountant</span>
          <div class="social">
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-google-plus"></i></a>
            <a href=""><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
