<!--==========================
  Hero Section
============================-->
<section id="hero">
  <div class="hero-container">
    <div class="wow fadeIn">
      <div class="hero-logo">
        <!--<img class="" src="assets/img/logo.png" alt="Imperial"/>-->
      </div>

      <h1>Welcome to Imperial studios</h1>
      <h2>We create <span class="rotating">beautiful graphics, functional websites, working mobile apps</span></h2>
      <div class="actions">
        <a routerLinkActive="menu-active" routerLink="/about" class="btn-get-started">Get Strated</a>
        <a routerLinkActive="menu-active" routerLink="/services" class="btn-services">Our Services</a>
      </div>
    </div>
  </div>
</section>

<!--==========================
  Header Section
============================-->
<header id="header">
  <div class="container">

    <div id="logo" class="pull-left">
      <a href="#hero"><img src="/img/logo.png" alt="" title="" /></a>
      <!-- Uncomment below if you prefer to use a text image -->
      <!--<h1><a href="#hero">Header 1</a></h1>-->
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li routerLinkActive="menu-active"><a routerLink="/main" >Home</a></li>
        <li routerLinkActive="menu-active"><a routerLink="/about" >About Us</a></li>
        <li routerLinkActive="menu-active"><a routerLink="/services" >Services</a></li>
        <li routerLinkActive="menu-active"><a routerLink="/portfolio" >Portfolio</a></li>
        <li routerLinkActive="menu-active"><a routerLink="/testimonials" >Testimonials</a></li>
        <li routerLinkActive="menu-active"><a routerLink="/team" >Team</a></li>
        <li class="menu-has-children"><a href="">Drop Down</a>
          <ul>
            <li><a href="#">Drop Down 1</a></li>
            <li class="menu-has-children"><a href="#">Drop Down 2</a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
            <li><a href="#">Drop Down 5</a></li>
          </ul>
        </li>
        <li routerLinkActive="menu-active"><a routerLink="/contact" >Contact Us</a></li>
      </ul>
    </nav><!-- #nav-menu-container -->
  </div>
</header><!-- #header -->